/bin
/share/bash-completion/completions
/share/fish/vendor_completions.d
/share/man/man1
/share/zsh/site-functions
/gh-cli
.envrc
/dist
/site
.github/**/node_modules
/CHANGELOG.md
/.goreleaser.generated.yml
/script/build
/script/build.exe
/pkg_payload
/build/macOS/resources

# Windows resource files
/cmd/gh/*.syso

# VS Code
.vscode

# IntelliJ
.idea

# macOS
.DS_Store

# vim
*.swp

# Emacs
*~

vendor/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
